#top-nav {
  background-color: #0087c7;
  height: 100px;
  width: 100%;
  padding: 10px;
}

#navbar-logo {
  height: 100%;
}

.navbar-button {
  display: inline-block;
}

#parent2 { 
  background-color: yellow;
  height: 100px;
  padding: 5px;
}

.child2 {
  border: 1px solid red;
  height: 50px;
  width: 20%;
  margin: auto;
  text-align: center;
}

#great-grandparent {
  background-color:white;
  height: 150px;
  padding: 1px;
  width: 70%;
  margin: auto;

  /* display: flex;
  /* flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; */ */
}
#grandparent {
  background-color:white;
  height: 120px;
  padding: 1px;
  margin: 1px;
  display: flex;
  /* flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; */
}

#parent3 {
  background-color: yellow;
  height: 100px;
  padding: 10px;
  margin: 10px;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  flex-wrap: wrap;
}

#parent6 {
  background-color: yellow;
  height: 100px;
  padding: 10px;
  margin: 10px;
  width: 40%;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  flex-wrap: wrap;
}

.child6 {
  border: 1px solid red;
  height: 100px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.child3 {
  border: 1px solid red;
  height: 50px;
  width: 30%;
  text-align: center;
}

#parent4 {
  background-color: yellow;
  height: 100px;
  padding: 5px;
  margin: 5px;
  position: relative;
}

.child4 {
  border: 1px solid red;
  height: 50px;
  width: 20%;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%)
}

body {
  margin: 0px;
}

/* Horizontal Centering */
/* text-align: center */
/* margin: auto / explicitly setting margins */
